<section class='services-details'>
  <div class='auto-container'>
    <div class='row'>
      <div class='col-lg-8 content-side'>
        {{{career.content}}}
      </div>
      {{!-- <aside class='col-lg-4'>
        <div class='service-sidebar'>
          <div class='widget widget_categories_two'>
            <div class='widget-content'>
              <div class='row'>
                  <div class='career-block col-lg-3 col-md-6'>
                    <div class='inner-box'>
                      <div class='time'>
                        {{career.timeTable.timeTitle}}
                      </div>
                      <div class='icon'>
                        <img src="{{career.featuredImage}}" alt='' />
                      </div>
                      <h4>
                        {{career.expirationWork}}
                        <br />
                        {{career.position}}
                      </h4>
                      <div class='location'>
                        {{career.location}}
                      </div>
                      <a
                        href="/careers/{{career.slug}}"
                        class='theme-btn btn-style-one'
                      >
                        <span class='btn-title'>
                          Ứng tuyển
                        </span>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </aside> --}}
    </div>
  </div>
</section>