<section class="career-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>{{title}}</h2>
            <span class="text-decoration-two"></span>
        </div>
        <div class="row">
            {{#each careers}}
            <div class="career-block col-lg-3 col-md-6">
              <div class="inner-box">
                <div class="time">{{timeTable.timeTitle}}</div>
                <div class="icon"><img
                    src="{{featuredImage}}"
                    alt=""
                  /></div>
                <h4>{{expirationWork}} <br /> {{position}}</h4>
                <div class="location">{{location}}</div>
                <a href="/contact" class="theme-btn btn-style-one">
                  <span class="btn-title">Ứng tuyển</span>
                </a>
                <a href="/careers/{{slug}}" >Chi tiết</a>
              </div>
            </div>
            {{/each }}
        </div>
    </div>
</section>