<section class="contact-details-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>TMP XIN HÂN HẠNH ĐƯỢC HỖ TRỢ QUÝ KHÁCH</h2>
            <div class="text">
                Vui lòng liên hệ bằng cách sử dụng biểu mẫu bên dưới. Chúng tôi rất
                thích nghe bạn <br/> suy nghĩ & trả lời bất kỳ câu hỏi nào bạn có thể có!
            </div>
            <span class="text-decoration-two"></span>
        </div>
        <div class="row">
            <div class="col-lg-3 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><img
                                src="assets/images/icons/tmp-icon-support/icon_map.png"
                                alt=""
                        /></div>
                        <h5>Địa chỉ</h5>
                        <h4>Ghé qua</h4>
                    </div>
                    <ul>
                        <li>{{info.address}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><img
                                src="assets/images/icons/tmp-icon-support/icon-03.png"
                                alt=""
                        /></div>
                        <h5>Hỗ trợ 24/7</h5>
                        <h4>Liên hệ</h4>
                    </div>
                    <ul>
                        <li><a href="tel:{{info.hotlineRef}}">{{info.hotline}} (Miễn phí)</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><img
                                src="assets/images/icons/tmp-icon-support/icon_mail.png"
                                alt=""
                        /></div>
                        <h5>Thắc mắc</h5>
                        <h4>Mail liên hệ</h4>
                    </div>
                    <ul>
                        <li><a href="mailto:{{info.emailHref}}">Email:
                            {{info.email}}</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><img
                                src="assets/images/icons/tmp-icon-support/icon_visit-between.png"
                                alt=""
                        /></div>
                        <h5>Giờ làm việc</h5>
                        <h4>Thời gian</h4>
                    </div>
                    <ul>
                        <li>Thứ 2 - Thứ 6: 8:30 - 17:30</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-form-section">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="live-contact">
                    <div class="image"><img
                            src="assets/images/resource/02.png"
                            alt=""
                    /></div>
                    <div class="content">
                        <div class="icon"><span class="flaticon-support-1"></span></div>
                        <h4>Trò chuyện trực tiếp</h4>
                        <div class="text">Hãy trò chuyện với các chuyên gia trực tiếp của
                            chúng tôi để nhận được
                            <br/>
                            trả lời câu hỏi của bạn.
                        </div>
                        <div class="link-btn"><a
                                href="#"
                                class="theme-btn btn-style-one"
                        ><span class="btn-title">TRÒ CHUYỆN NGAY</span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title">
                    <h2>
                        Đừng ngần ngại
                        <br/>
                        gửi tin nhắn của bạn cho chúng tôi</h2>
                    <div class="text-decoration">
                        <span class="left"></span>
                        <span class="right"></span>
                    </div>
                </div>
                <form method="post" action="sendemail.php" class="contact-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input
                                    type="text"
                                    name="firstname"
                                    placeholder="Họ"
                                    required=""
                            />
                        </div>

                        <div class="col-md-6 form-group">
                            <input
                                    type="text"
                                    name="lastname"
                                    placeholder="Tên"
                                    required=""
                            />
                        </div>

                        <div class="col-md-6 form-group">
                            <input
                                    type="email"
                                    name="email"
                                    placeholder="Email"
                                    required=""
                            />
                        </div>

                        <div class="col-md-6 form-group">
                            <input
                                    type="text"
                                    name="phone"
                                    placeholder="Số điện thoại"
                                    required=""
                            />
                        </div>

                        <div class="col-md-12 form-group">
                            <select class="selectpicker" name="subject">
                                <option value="*">Vấn đề hỗ trợ</option>
                                <option value=".category-1">Thanh toán</option>

                            </select>
                        </div>

                        <div class="col-md-12 form-group">
                            <textarea name="message" placeholder="Nội dung"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="row m-0 justify-content-between">
                                <div class="note mb-30">
                                    <p>* Chúng tôi không chia sẻ thông tin của bạn với bất kỳ bên
                                        thứ ba nào.</p>
                                </div>
                                <button
                                        class="theme-btn btn-style-one mb-30"
                                        type="submit"
                                        name="submit-form"
                                ><span class="btn-title">Gửi hỗ trợ</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="map-section-two">

    <div class="map-outer">
        <div
                class="google-map"
                id="contact-google-map"
        >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.808799367443!2d105.78800431503853!3d21.040335085992133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab36e43cf6eb%3A0xc420d35b1d1a47ac!2zMTA3IE5ndXnhu4VuIFBob25nIFPhuq9jLCBE4buLY2ggVuG7jW5nIEjhuq11LCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1646016941227!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>